@import "tailwindcss";

.iiZ__zoomed-image-wrapper {
  position: relative;
  display: inline-block;
}

.iiZ__zoomed-image {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.iiZ__zoomed-image img {
  display: block;
  max-width: none;
  max-height: none;
}
/* Light mode defaults */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-instrument-sans), system-ui, sans-serif;
  --font-heading: var(--font-instrument-sans), system-ui, sans-serif;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Optional: define Tailwind theme variable linkage */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Typography defaults */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

.input {
  @apply w-full border border-gray-300 p-3 rounded-lg focus:ring-2 text-gray-500 focus:ring-orange-400 focus:outline-none;
}

/* ------------------------------
   BUTTON BASE STYLE
------------------------------ */
.btn {
  @apply py-2.5 px-2.5 rounded-lg font-semibold transition-colors duration-200 cursor-pointer;
}

.btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}

/* ------------------------------
   PRIMARY BUTTON (Orange)
------------------------------ */
.btn-primary {
  @apply bg-orange-800 hover:bg-orange-500 text-white;
}

/* ------------------------------
   SECONDARY BUTTON (Gray)
------------------------------ */
.btn-gray {
  @apply bg-gray-200 hover:bg-gray-300 text-gray-700;
}

/* ------------------------------
   CARD STYLE
------------------------------ */
.card {
  @apply p-6 bg-white rounded-xl shadow-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: theme('colors.gray.700');
  font-family: var(--font-heading);
  font-weight: 600;
}

p {
  color: theme('colors.gray.500');
  font-family: var(--font-sans);
  line-height: 1.6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn .5s ease-out;
}