@import "tailwindcss";


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.iiZ__zoomed-image-wrapper {
  position: relative;
  display: inline-block;
}

.iiZ__zoomed-image {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.iiZ__zoomed-image img {
  display: block;
  max-width: none;
  max-height: none;
}

/* Light mode defaults */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-instrument-sans), system-ui, sans-serif;
  --font-heading: var(--font-instrument-sans), system-ui, sans-serif;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* === Theme Colors === */
  --color-hub-secondary: #016134;
  --color-hub-primary: #00A85A;
}

/* Typography defaults */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@keyframes slideUp {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 0.3s ease-out forwards;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

input::-ms-reveal {
  display: none;
}

input::-ms-clear {
  display: none;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  margin-right: 24px;
}

.input {
  @apply w-full border border-gray-300 p-3 rounded-lg focus:ring-2 text-gray-500 focus:ring-hub-primary focus:outline-none bg-white;
}

/* ------------------------------
   BUTTON BASE STYLE
------------------------------ */
.btn {
  @apply py-2 px-2.5 rounded-lg font-semibold transition-colors duration-200 cursor-pointer;
}

.btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}

/* ------------------------------
   PRIMARY BUTTON (Orange)
------------------------------ */
.btn-primary {
  @apply bg-hub-primary text-white hover:bg-hub-secondary hover:text-hub-primary;
}

/* ------------------------------
   SECONDARY BUTTON (Gray)
------------------------------ */
.btn-gray {
  @apply bg-gray-200 hover:bg-hub-primary text-gray-700;
}

/* ------------------------------
   CARD STYLE
------------------------------ */
.card {
  @apply p-6 bg-white rounded-xl shadow-sm;
}

/* Typography defaults */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  color: rgb(44, 44, 44);
}

p {
  font-family: var(--font-sans);
  line-height: 1.6;
  color: rgb(44, 44, 44);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn .5s ease-out;
}